// 项目提供scss全局变量

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单栏最小宽度
$base-menu-mini-width:50px;
// 左侧菜单栏背景颜色
$base-menu-background: #001529;
// 右侧顶部导航栏高度
$base-menu-tabber: 50px;
// 左侧菜单栏logo大小
$base-logo-width:40px;
$base-logo-height:40px;
// 左侧菜单栏顶部标题大小
$base-title-font:18px;
